body {
    background-color: #e4d7d2;
}

.link {
    font-size: 36px;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.authForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 200px;
    min-height: 180px;
    border: 10px solid #6b412d;
    border-radius: 20px;
}

.authForm input {
    margin: 5px;
}

.authForm input[type="submit"] {
    font-weight: bold;
    width: 120px;
    height: 60px;
    background-color: #e4d7d2;
    border-radius: 8px;
}

.pageContent {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
}

td {
    padding: 30px;
}

.day {
    background-color: #64be64;
    font-size: 25px;
}

.day:hover {
    opacity: 50%;
}

.current-day {
    background-color: #437a43;
}

.calendar-contener {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.calendar-table {
    background-color: #c8d8b4;
}

.calendarNotesForm {
    margin: 20px;
}

.calendar-table-days-names {
    background-color: #437a43;
}

.date-name {
    font-size: 36px;
}

.input-next {
    width:50px;
    height: 50px;
}

.input-prev {
    width:50px;
    height: 50px;
}

